.newsBoxes {
  padding: 10px 200px 80px 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 50px;
  margin-top: 0px;
  .box {
    width: 270px;
    height: 330px;
    border-radius: 18px;
    position: relative;
    overflow: hidden;
    .info {
      padding: 10px;
      position: absolute;
      bottom: 0;
      border-radius: 18px;
      z-index: 2;
      h1 {
        position: relative;
        bottom: 38px;
        color: #fff;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 25.2px */
        transition: all 0.3s ease;
      }
      .batafsil {
        padding: 16px 70px;
        border-radius: 12px;
        background: #ef6a3c;
        border: none;
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 22.4px */
        cursor: pointer;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -140%;
        transition: all ease 0.3s;
        &:active {
          opacity: 0.8;
        }
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
    .support {
      height: 100%;
      width: 100%;
      position: absolute;
      bottom: 0;
      border-radius: 18px;
      background: var(
        --111,
        linear-gradient(0deg, #000 0.14%, rgba(108, 108, 108, 0) 80.19%)
      );
    }
    &:hover {
      .info {
        h1 {
          bottom: 108px;
        }
        .batafsil {
          bottom: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .newsBoxes {
    padding: 30px 30px 40px 30px;
    row-gap: 30px;
    .box {
      width: 100%;
      height: 340px;

      .info {
        padding: 10px 30px;

        .batafsil {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 840px) {
  .newsBoxes {
    padding: 30px 30px 40px 30px;
    row-gap: 40px;
  }
}

@media screen and (min-width: 840px) and (max-width: 1200px) {
  .newsBoxes {
    padding: 30px 80px 40px 80px;
  }
}
